 *:before, *:after {
  box-sizing: inherit;
}

.container-faq {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 65px;
  width: 1000px;  
  color: #fff;
}

h2 {
  text-align: center;
  margin-bottom:15px;
}

.accordion a {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 50px 15px 15px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #fff;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: rgb(88,185,157);
}
.accordion a:hover::after {
  border: 2px solid rgb(88,185,157);
}

.accordion a.active {
  color: rgb(88,185,157);
  border-bottom: rgb(88,185,157);
}

.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 15px;
  font-size: 15px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  color: rgb(88,185,157);
  border: 2px solid rgb(88,185,157);
}

.accordion .question {
  opacity: 0;
  padding: 0 15px;
  max-height: 0;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  clear: both;
  transition: all 0.2s ease 0.15s;
}

.accordion .question p {
  font-size: 15px;
  font-weight: 300;
}
.accordion .question.active {
  opacity: 1;
  padding: 15px;
  max-height: 100%;
  transition: all 0.35s ease 0.15s;
}