.faq-section{
        margin: 20px auto;
        max-width: 800px;
        text-align: center;

}

.faq-section .titolo{
    color: #fff;
    text-align: center;
    margin: 10px auto;
    
}

.faq-table {
    border-collapse: collapse;
    margin: 0px auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .faq-table th {
    font-weight: bold;
    border: 1px solid #bbb;
    padding: 10px 20px;
  }

  .faq-table td {
    border: 1px solid #bbb;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 200px; /* Imposta la larghezza massima delle celle */
    white-space: nowrap; /* Impedisce il testo di andare a capo */
    overflow: hidden; /* Nasconde il testo in eccesso */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione per il testo in eccesso */
}

  
.faq-table .btn-modify, .faq-table .btn-delete{
   color: #fff;
    padding: 8px;
    border-radius: 50px;
    border: none;
    cursor:pointer;
    text-decoration: none;
    font-size:14px;
}

.faq-table .btn-modify{
background-color: rgb(88,185,157);
}

.faq-table .btn-modify:hover{
    background-color: rgb(70, 150, 128);
}

.faq-table .btn-delete {
    background-color: red;
}

.faq-table .btn-delete:hover {
    background-color: rgb(198, 0, 0);
}

