.section{
display: flex;
justify-content: center;
flex-direction: column;
}

.section .titolo{
    color: #fff;
    text-align: center;
    margin: 10px auto;
    
}

.table {
    zoom:80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .table th {
    font-weight: bold;
    border: 1px solid #bbb;
    padding: 10px 20px;
  }

  .table td {
    border: 1px solid #bbb;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 200px; /* Imposta la larghezza massima delle celle */
    white-space: nowrap; /* Impedisce il testo di andare a capo */
    overflow: hidden; /* Nasconde il testo in eccesso */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione per il testo in eccesso */
}

  
.table .btn-modify, .table .btn-delete{
   color: #fff;
    padding: 8px;
    border-radius: 50px;
    border: none;
    cursor:pointer;
    text-decoration: none;
    font-size:14px;
}

.table .btn-modify{
background-color: rgb(88,185,157);
}

.table .btn-modify:hover{
    background-color: rgb(70, 150, 128);
}

.table .btn-delete {
    background-color: red;
}

.table .btn-delete:hover {
    background-color: rgb(198, 0, 0);
}

