.card {
    height: fit-content;
    width: 80vh;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: block;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    margin: 2px 0px;
}


.btn-bottom{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
    
.bottone-modifica,.bottone-elimina {
    display: inline-block;
    margin: 0px 10px;
    padding: 8px 16px;
    color: #fff;
    border-radius: 40px;
    border: none;
    text-decoration: none;
}



.bottone-modifica{
    background-color: rgb(88,185,157);
}

.bottone-modifica:hover{
    background-color: rgb(70, 150, 128);
}

.bottone-elimina{
    background-color: red;
}

.bottone-elimina:hover {
    background-color: rgb(198, 0, 0);
}

.form-control {
    border: 1px solid #bbb;
    border-radius: 2rem;
    background: white;
    height: 40px;
    font-size: 0.9rem;
    color: #24262b;
    outline: none;
    padding-left: 20px;
    padding-right: 10px;
    margin: 15px 0;
    box-sizing: border-box;
}

.table {
    zoom:100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #f5f5f5;
    padding: 10px;
    overflow: hidden;
}

.table th {
    font-weight: bold;
    border: 1px solid #bbb;
    padding: 10px 20px;
}

.table td {
    border: 1px solid #bbb;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 200px; /* Imposta la larghezza massima delle celle */
    white-space: nowrap; /* Impedisce il testo di andare a capo */
    overflow: hidden; /* Nasconde il testo in eccesso */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione per il testo in eccesso */
}